POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SECRET_KEY="someSecretKey"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

VITE_ADMIN_LOGIN=admin
VITE_ADMIN_PASSWORD=admin123
